<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<p id="notice"></p>
<p class="show">
  <strong class="show1">Title:</strong>
<%= @book.title %>
</p>
<p class="show">
  <strong>Body:</strong>
<%= @book.body %>
</p>
<%= link_to 'Edit', edit_book_path(@book) %>
<a class="back" href="/books">Back</a>

