<p id="notice"></p>
<p class="show">
  <strong class="show1">Title:</strong>
  リーダブルコード
</p>
<p class="show">
  <strong>Body:</strong>
  より良いコードを書くためのシンプルで実践的なテクニック
</p>
<a class="edit_1634" href="/books/1634/edit">Edit</a>
<a class="back" href="/books">Back</a>

